@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*{
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}

/* Swipper */
.mySwiper .swiper-slide-next {
  opacity: 0.6;
}
.achivement-dots .swiper-pagination-bullet-active{
  background-color: #8777D7 !important;
  width:0.65rem;
  height:0.65rem;
  margin:0.50rem
  }

  .achivement-dots1 .swiper-pagination-bullet-active{
    background-color: #8777D7 !important;
    width:0.65rem;
    height:0.65rem;
    margin:0.50rem
    }
